/* note: this is also referenced by other sites. */

a {
    color: inherit;
    text-decoration: none;

    background-image: linear-gradient(to top,
      rgba(0,0,0,0) 11%,
      rgba(0,0,0,.3) 11%,
      rgba(0,0,0,.3) 16%,
      rgba(0,0,0,0) 16%
    );
}

a:hover {
  color: rgba(0,0,0,0.6);
}

body {
    background-image: url('http://neeasade.net/res/background.png');
    background-repeat: repeat;
    background-attachment: fixed;

    font-size: 100%;
    color: rgba(0,0,0,0.8);
}

.terminal {
    color: rgba(0,0,0,0.8);
    background-color: #f4f5f6;
    border: 4px solid #eeeff0;

    padding: 20px;
    margin: 10px 0px 10px 0px;
    display: block;
    width: auto;
}
