
.header
{
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

a
{
    color:#dddddd;
    text-decoration:none;
}

a:hover
{
    color:#ffffff;
}


*
{
    font-family:Droid Sans Mono
}

.terminal
{
    width: 400px;
    box-shadow: 3px 3px 1px rgba(0,0,0,0.6);
    align: center;
    margin-left:auto;
    margin-right:auto;
    background-color:#292929;
    color: #a2a2a2;
    border: 5px solid #ffffff;

    padding:3px;

    /*gaps ;) */
    margin-top: 8px;
    margin-bottom:8px;
}

.border_focused
{
    border: 5px solid #ffffff;
}

.header-links
{
    text-align:center;
}

.header-link
{
  font-size: 11pt;
}

body
{
    background-image:url('/public/background/background.png');
    background-repeat:repeat;
    background-attachment:fixed;
}

.header-title
{
    font:bold;
    font-size:8pt;
    margin: 0px;
    padding:0;
}

.title
{
    font-size:14pt;
}

