
a
{
    color:#c8b55b;
    text-decoration:none;
}

a:hover
{
    color:#e4dc8c;
}

pre span
{
    color:#544b2e;
}

.terminal
{
    color: #746c48;
    background-color:#170f0d;

    box-shadow: 3px 3px 1px rgba(0,0,0,0.6);
    align: center;
    padding:14px;
    display:block;
    width: 100%;

    /*gaps ;) */
    margin: 14px 14px 14px 14px;

    /* Transparent border */
    border: 4px solid rgba(46,46,46,0.5);
    -moz-background-clip: padding;     /* Firefox 3.6 */
    -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
    background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
    overflow: hidden;
}
.workspace
{
    margin: 0 auto;
    height: 600px;
    width: 100%;
    max-width: 800px;
    padding-right:66px; /* there was a weird spacing issue. */
}
.container-left
{
  display:inline-block;
  align:left;
  width:55%;
}

.container-right
{
  float:right;
  width:39%
}

.outer
{
  display: table; position: absolute; height: 100%; width: 100%
}

.middle
{
  display: table-cell; vertical-align: middle
}

.terminal:hover
{
    border: 4px solid rgba(216,216,216,0.5);
}

pre
{
  margin:0px;
}

body
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image:url('../background/background.png');
    background-size: cover;
    font-family:Droid Sans Mono;
    font-size: 12px;
}

li
{
    font-size: 12px;
    list-style-type:none;
}

/* for tweets */
img,span[data-scribe="element:name"]
{
  display:none;
}

span[data-scribe="element:screen_name"]::after
{
  content: ">\00a0";
}

span[data-scribe="element:screen_name"]::before
{
  content: "<";
}

#tweets ul, #tweets > ul > p, .tweet
{
  margin: 0px;
  padding: 0px;
}

#tweets > ul > li
{
  display:inline;
}

#tweets > ul > li > div
{
  display:block;
  float:left;
}

