
.header
{
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

a
{
    color:#dddddd;
    text-decoration:none;
}

a:hover
{
    color:#ffffff;
}

.header-links
{
    margin-top:9px;
}

.header-links a
{
    color: #a7a7a7;
    text-align: center;
    background-color: #323537;
    padding: 8px;
}

.terminal
{
    box-shadow: 3px 3px 1px rgba(0,0,0,0.6);
    align: center;
    background-color:#1e1e1e;
    color: #a7a7a7;
    padding:14px;
    display:block;
    width: 100%;
    /*gaps ;) */
    margin: 14px 14px 14px 14px;

    /* Transparent border */
    border: 4px solid rgba(46,46,46,0.5);
    -moz-background-clip: padding;     /* Firefox 3.6 */
    -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
    background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
    overflow: hidden;
}

.workspace
{
    margin: 0 auto;
    height: 600px;
    width: 800px;
    padding-right:66px; /* there was a weird spacing issue. */
}
.container-left
{
  display:inline-block;
  align:left;
  width:55%;
}

.container-right
{
  float:right;
  width:39%
}

.outer
{
  display: table; position: absolute; height: 100%; width: 100%
}

.middle
{
  display: table-cell; vertical-align: middle
}

.terminal:hover
{
    border: 4px solid rgba(216,216,216,0.5);
}


.border_focused
{
    border: 5px solid #5f5a60;
}

.header-link
{
  font-size: 16pt;
}

body
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image:url('../background/background.png');
    background-size: cover;
    font-family:Droid Sans Mono;
    font-size: 12px;
}

.title
{
    font-size:14pt;
}

li
{
    font-size: 12px;
    list-style-type:none;
}

