a {
    color: inherit;
    text-decoration: none;

    background-image: linear-gradient(to top,
      rgba(0,0,0,0) 11%,
      rgba(0,0,0,.3) 11%,
      rgba(0,0,0,.3) 16%,
      rgba(0,0,0,0) 16%
    );
}

a:hover {
  color: rgba(0,0,0,0.6);
}

body {
    background-image: url(background.png);
}

.terminal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    color: rgba(0,0,0,0.8);
    background-color: #f4f5f6;
    border: 4px solid #eeeff0;

    font-family: "Droid Sans Mono", "Lucida Console", Monaco, monospace;
    font-size: 1em;

    padding: 10px;
    display: block;

    width: 80%;
    height: 60%;

    /* todo: figure out how to scale things */
    max-height: 200px;
    max-width: 450px;
}

.links {
    text-align: center;

    position: relative;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
